################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HOTPIZZA/FileContentIndex
/.gitignore
/HOTPIZZA/Views/GioHang/dsa.cshtml
