@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<main >
    <!-- Slider -->
    <div class="main_slider" style="background-image:url('@Url.Content("~/images/anhnenpizza.jpg")')">
        <div class="container fill_height">
            <div class="row align-items-center fill_height">
                <div class="col">

                </div>
            </div>
        </div>
    </div>
    <!-- Banner -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="banner_item align-items-center" style="background-image:url('@Url.Content("~/images/menu.jpg")')">
                        <div class="banner_category">
                            <a href="categories.html">menu</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="banner_item align-items-center" style="background-image:url('@Url.Content("~/images/pizzabox.jpg")')">
                        <div class="banner_category">
                            <a href="categories.html">Đặt hàng</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="banner_item align-items-center" style="background-image:url('@Url.Content("~/images/tuyendung.jpg")')">
                        <div class="banner_category">
                            <a href="categories.html">Tuyển dụng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- New Arrivals -->
    <div class="new_arrivals">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section_title new_arrivals_title">
                        <h2>DANH MỤC MÓN ĂN</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col text-center">
                    <div class="new_arrivals_sorting">
                        <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">all</li>
                            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".women">PIZZA</li>
                            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".accessories">MÓN CHÍNH</li>
                            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".men">THỨC UỐNG</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>