@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<style>
    .main_slider {
        width: 100%;
        height: 700px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin-top: 150px;
    }

    .main_slider_content {
        width: 60%;
    }

        .main_slider_content h6 {
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 29px;
        }

        .main_slider_content h1 {
            font-weight: 400;
            line-height: 1;
        }

    .red_button {
        display: -webkit-inline-box;
        display: -moz-inline-box;
        display: -ms-inline-flexbox;
        display: -webkit-inline-flex;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 40px;
        background: #fe4c50;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

        .red_button:hover {
            background: #FE7C7F !important;
        }

        .red_button a {
            display: block;
            color: #FFFFFF;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            line-height: 40px;
            width: 100%;
        }

    .shop_now_button {
        width: 140px;
        margin-top: 32px;
    }

    /*********************************
4. Banner
*********************************/

    .banner {
        width: 100%;
        margin-top: 30px;
    }

    .banner_item {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 265px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    .banner_category {
        height: 50px;
        background: #FFFFFF;
        min-width: 180px;
        padding-left: 25px;
        padding-right: 25px;
    }

        .banner_category a {
            display: block;
            color: #1e1e27;
            text-transform: uppercase;
            font-size: 22px;
            font-weight: 600;
            text-align: center;
            line-height: 50px;
            width: 100%;
            -webkit-transition: color 0.3s ease;
            -moz-transition: color 0.3s ease;
            -ms-transition: color 0.3s ease;
            -o-transition: color 0.3s ease;
            transition: color 0.3s ease;
        }

            .banner_category a:hover {
                color: #b5aec4;
            }

    /*********************************
5. New Arrivals
*********************************/

    .new_arrivals {
        width: 100%;
    }

    .new_arrivals_title {
        margin-top: 74px;
    }

    /*********************************
5.1 New Arrivals Sorting
*********************************/

    .new_arrivals_sorting {
        display: inline-block;
        border-radius: 3px;
        margin-top: 59px;
        overflow: visible;
    }

    .grid_sorting_button {
        height: 40px;
        min-width: 102px;
        padding-left: 25px;
        padding-right: 25px;
        cursor: pointer;
        border: solid 1px #ebebeb;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        background: #FFFFFF;
        border-radius: 3px;
        margin: 0;
        float: left;
        margin-left: -1px;
    }

        .grid_sorting_button:first-child {
            margin-left: 0px;
        }

        .grid_sorting_button:last-child {
        }

        .grid_sorting_button.active:hover {
            background: #FE7C7F !important;
        }

        .grid_sorting_button.active {
            color: #FFFFFF;
            background: #fe4c50;
        }

</style>
<main >
    <!-- Slider -->
    <div class="main_slider" style="background-image:url('@Url.Content("~/images/anhnenpizza.jpg")')">
        <div class="container fill_height">
            <div class="row align-items-center fill_height">
                <div class="col">

                </div>
            </div>
        </div>
    </div>
    <!-- Banner -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="banner_item align-items-center" style="background-image:url('@Url.Content("~/images/menu.jpg")')">
                        <div class="banner_category">
                            <a href="categories.html">menu</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="banner_item align-items-center" style="background-image:url('@Url.Content("~/images/pizzabox.jpg")')">
                        <div class="banner_category">
                            <a href="categories.html">Đặt hàng</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="banner_item align-items-center" style="background-image:url('@Url.Content("~/images/tuyendung.jpg")')">
                        <div class="banner_category">
                            <a href="categories.html">Tuyển dụng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- New Arrivals -->
    <div class="new_arrivals">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section_title new_arrivals_title">
                        <h2>DANH MỤC MÓN ĂN</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col text-center">
                    <div class="new_arrivals_sorting">
                        <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">all</li>
                            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".women">PIZZA</li>
                            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".accessories">MÓN CHÍNH</li>
                            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".men">THỨC UỐNG</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>