
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<p style="font-size: 40px; font-weight: bold; text-align: left; font-family: 'Times New Roman', Times, serif; color: darksalmon; margin-left: 30px;">Hot Pizza Menu</p>

<style>
    /* Center the menu */
    .menu {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 50px;
    }

    /* Style for each menu item */
    .menu-item {
        display: inline-block;
        position: relative;
    }

    /* Style for the images */
    .menu-img {
        width: 40%;
        height: 40%;
        margin-top: -50px;
        object-fit: cover;
        cursor: pointer;
        margin-left: 450px;
        border-radius: 20px;;
    }

    /* Modal styles */
    .modal {
        display: none; /* Hidden by default */
        position: fixed;
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.8); /* Black with opacity */
        padding-top: 60px;
    }

    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 480px;
        
    }

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
    }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

    /* Navigation buttons */
    .modal-nav {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between; /* Align buttons to both sides */
        padding: 10px;
        box-sizing: border-box;
    }

        .modal-nav button {
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 10px;
            font-size: 18px;
            cursor: pointer;
            border-radius: 20px;
        }

            .modal-nav button:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }

            .modal-nav button:hover {
                background-color: rgba(0, 0, 0, 0.8);
            }

    /* To place Next button at the right side */
    #nextBtn {
        margin-left: auto; /* Push next button to the right */
    }
</style>
<div class="menu">
    <ul>
        <li><a href="#" class="menu-item" id="img1"><img src="~/images/menuuu/menu-01.png" alt="Image 1" class="menu-img" /></a></li>
        <li><a href="#" class="menu-item" id="img2" style="display: none;"><img src="~/images/menuuu/menu-02.png" alt="Image 2" class="menu-img" /></a></li>
        <li><a href="#" class="menu-item" id="img3" style="display: none;"><img src="~/images/menuuu/menu-03.png" alt="Image 3" class="menu-img" /></a></li>
        <li><a href="#" class="menu-item" id="img4" style="display: none;"><img src="~/images/menuuu/menu-04.png" alt="Image 4" class="menu-img" /></a></li>
        <li><a href="#" class="menu-item" id="img5" style="display: none;"><img src="~/images/menuuu/menu-05.png" alt="Image 5" class="menu-img" /></a></li>
        <li><a href="#" class="menu-item" id="img6" style="display: none;"><img src="~/images/menuuu/menu-06.png" alt="Image 6" class="menu-img" /></a></li>
        <li><a href="#" class="menu-item" id="img7" style="display: none;"><img src="~/images/menuuu/menu-07.png" alt="Image 7" class="menu-img" /></a></li>
        <li><a href="#" class="menu-item" id="img8" style="display: none;"><img src="~/images/menuuu/menu-08.png" alt="Image 8" class="menu-img" /></a></li>
        <li><a href="#" class="menu-item" id="img9" style="display: none;"><img src="~/images/menuuu/menu-09.png" alt="Image 9" class="menu-img" /></a></li>
        <li><a href="#" class="menu-item" id="img10" style="display: none;"><img src="~/images/menuuu/menu-10.png" alt="Image 10" class="menu-img" /></a></li>
        <li><a href="#" class="menu-item" id="img11" style="display: none;"><img src="~/images/menuuu/menu-11.png" alt="Image 11" class="menu-img" /></a></li>
        <li><a href="#" class="menu-item" id="img12" style="display: none;"><img src="~/images/menuuu/menu-12.png" alt="Image 12" class="menu-img" /></a></li>
    </ul>
</div>


<div id="imageModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="modalImage" />
    <div class="modal-nav">
        <button id="prevBtn" onclick="prevImage()"> < </button>
        <button id="nextBtn" onclick="nextImage()"> > </button>
    </div>
</div>






<div id="imageModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="modalImage" />
</div>

<script>
    // Get the modal
    var modal = document.getElementById("imageModal");

    // Get the images and modal image element
    var images = document.getElementsByClassName("menu-img");
    var modalImg = document.getElementById("modalImage");

    // Get the navigation buttons
    var nextBtn = document.getElementById("nextBtn");
    var prevBtn = document.getElementById("prevBtn");

    var currentIndex = -1; // Start with no image showing

    // Show image in modal
    function showImage(index) {
        modal.style.display = "block";
        modalImg.src = images[index].src;
        currentIndex = index;

        // Toggle buttons based on image index
        nextBtn.style.display = (currentIndex < images.length - 1) ? "inline-block" : "none";
        prevBtn.style.display = (currentIndex > 0) ? "inline-block" : "none";
    }

    // When the user clicks on an image, open the modal and show that image
    for (var i = 0; i < images.length; i++) {
        images[i].onclick = function (evt) {
            var index = Array.prototype.indexOf.call(images, this); // Get the index of clicked image
            showImage(index);
        };
    }

    // When the user clicks on <span> (x), close the modal
    var span = document.getElementsByClassName("close")[0];
    span.onclick = function () {
        modal.style.display = "none";
    }

    // Show the next image
    function nextImage() {
        if (currentIndex < images.length - 1) {
            currentIndex++;
            showImage(currentIndex);
        }
    }

    // Show the previous image
    function prevImage() {
        if (currentIndex > 0) {
            currentIndex--;
            showImage(currentIndex);
        }
    }


</script>