@model IEnumerable<HOTPIZZA.Models.MonAn>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

    <div class="row">
        @foreach (var item in Model)
        {
            <!-- Product -->
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="product-item">
                    <div class="product discount product_filter">
                        <div class="product_image">
                            <img src="@Url.Content("~/images/Menu/" + item.HinhMinhHoa)" alt="Product Image">
                        </div>
                        <div class="favorite favorite_left"></div>
                        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                        <div class="product_info">
                            <h6 class="product_name">@item.TenMon</h6>
                            <div class="product_price">@String.Format("{0:#,##0} VNĐ", item.DonGia)</div>
                        </div>
                    </div>
                    <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                </div>
            </div>
        }
    </div>

                            


       